.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-recipes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home-mostPrepared {
  padding: 1em 1em;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-randomRecipe {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-spinner {
  display: flex;
  justify-content: center;
}

@media (max-width: 1240px) {
  .home-recipes {
    width: 150vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-randomRecipe {
    margin-top: 2em;
  }

}

@media (max-width: 600px) {
  .home-randomRecipe {
    width: 50%;
  }
}